<!DOCTYPE html>
<html>
<head>
	<title>Usage Guide</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="<%= css %>"/>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.js-nav-trigger').click(function (event) {
				event.preventDefault();
				$('.js-nav').toggleClass('is-active');
			});
			$('.js-nav-close').click(function (event) {
				event.preventDefault();
				$('.js-nav').removeClass('is-active');
			});
		});
	</script>
</head>

<body>


<div class="o-layout o-layout--viewport o-layout--vertical">
	<div class="o-layout__item o-layout--shrink">
		<header class="c-box c-box--primary">
			<div class="o-pack">
				<div class="o-pack__item o-pack__item--shrink u-display-none@s">
					<a class="c-button c-button--tiny js-nav-trigger" href="#">Section
						Index</a>
				</div>
				<div class="o-pack__item">
					<strong>CSS Framework Usage Guide</strong>
				</div>
			</div>
		</header>
	</div>
	<div class="o-layout__item o-layout__item--fill">

		<div class="o-layout">

			<div class="o-layout__item o-off-canvas o-off-canvas--overlay o-off-canvas--left o-off-canvas--layout@s u-width-4/5 u-width-3/5@t u-width-2/5@s u-width-1/4@m u-width-1/5@l u-border-right o-layout__item--fill js-nav">

				<div class="o-layout o-layout--vertical">
					<div class="o-layout__item o-layout--shrink u-display-none@s">
						<div class="c-box c-box--small u-padding-left u-padding-right">
							<div class="o-pack">
								<div class="o-pack__item">
									<h4 class="u-margin-bottom-remove">Section
										Index</h4>
								</div>
								<div class="o-pack__item o-pack__item--shrink">
									<span class="u-font-size-h1 js-nav-close">&times;</span>
								</div>
							</div>
						</div>
					</div>
					<div class="o-layout__item o-layout__item--fill">
						<div class="c-box c-box--flush c-box--scroll">
							<ul class="c-nav">
								<% _.forEach(nav, function(item) { %>
								<li class="c-nav__item">
									<a class="c-nav__link" href="<%= item.href %>"><%= item.name %></a>
								</li>
								<% }); %>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<div class="o-layout__item o-layout__item--fill u-width-1/1 u-width-3/4@m u-width-4/5@l">
				<div class="c-box c-box--scroll">

					<div class="o-layout o-layout--center-horizontal">
						<div class="o-layout__item u-width-1/1 u-width-4/5@m u-width-3/4@l u-width-2/3@h u-width-1/2@g">
							<%= content %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>




